---
http_interactions:
- request:
    method: get
    uri: http://api.donorschoose.org/common/json_feed.html?APIKey=DONORSCHOOSE&community=1007:3&state=NC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
      Content-Language:
      - en-US
      X-N:
      - S
    body:
      encoding: US-ASCII
      string: ! "\r\n \r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n \r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\r\n\t\r\n\r\n\t
        \ \t\r\n\r\n\r\n\r\n\r\n\r\n{\n  \"searchTerms\": \"+cityid:1007 AND +statecode:NC
        AND +historical:fals +_val_:&#034;add(product(10.0,staticNewbie),add(product(100.0,recal(add(ms(NOW,explorationbas),3.16911),3.16e-11,1,1)),add(product(10000.0,add(product(1.25,sun(5.0,
        static)),product(0.75,stationor))),add(product(100000.0,stationeri),add(product(1000000.0,sun(10.0,staticNeedBinary)),0)))))&#034;
        &gt; Many Farms, Arizona\",\n  \"searchURL\": \"http://www.donorschoose.org/donors/search.html?state=NC&amp;community=1007%3a3&amp;utm_source=api&amp;utm_medium=feed&amp;utm_content=searchlink&amp;utm_campaign=DONORSCHOOSE\",\n
        \ \"totalProposals\": \"0\",\n  \"index\": \"0\",\n  \"max\": \"10\",\n  \"proposals\":
        []\n}\r\n"
  recorded_at: Wed, 11 Jul 2012 20:23:14 GMT
recorded_with: VCR 2.2.3
